<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" th:href="@{/images/logo.png}" sizes="32x32" type="image/png" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <meta name="author" content="TIGRI A. F. Fleury | Passionné des technologies du Web" />
    <meta name="description" content="De l'Agile au DevOps | Développez et maintenez des systèmes
    informatiques rapidement, efficacement en toute sécurité. Prenez les rênes avec l'intégration
    continue (CI), la livraison continue/le Déploiement continu (CD) et le Monitoring. " />
    <meta name="theme-color" content="#563d7c">
    <title>Pipeline CI/CD & Monitoring </title>
</head>
<body>
    <!-- Page container / Main tag -->
    <section class="index_page">
        <!-- Menu/Navigations -->
        <header class="header">
            <!-- Logo -->
            <figure class="logo">
                <a href="#">
                    <img th:src="@{/images/logo.png}" alt="CI/CD & Monitoring" title="CI/CD & Monitoring" />
                </a>
            </figure>
            <!-- Menus links -->
            <nav aria-label="Liens de navigation">
                <ul class="menus_link">
                    <li class="menu_item">
                        <a href="#integration-continue-ci">Continue (CI)</a>
                    </li>
                    <li class="menu_item">
                        <a href="#livraison-continue-cd">Livraison continue (CD)</a>
                    </li>
                    <li class="menu_item">
                        <a href="#deploiement-continu-cd">Déploiement continu (CD)</a>
                    </li>
                    <li class="menu_item">
                        <a href="#monitoring-surveillance-automatisee">Restez connecté</a>
                    </li>
                    <li class="menu_item">
                        <a href="#contactez-nous">Mettre en place dès maintenant</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Main contents -->
        <section class="main_contents">
            <!-- CI/CD & Monitoring kezako -->
            <article id="ci-cd-monitoring-kezako">
                <h2 class="title">CI/CD & MONITORING KEZAKO</h2>
                <aside aria-label="CI/CD & Monitoring kezako" class="description">
                    <p>
                        Vous désirez innover constamment, rapidement mettre en place de nouveaux services,
                        le plus vite possible, tout en gardant les services précédents toujours aussi
                        fonctionnels ?
                    </p>
                    <p>
                        Une seule solution le CI/CD & Monitoring
                    </p>
                    <ul>
                        <li>Travaillez en toute sérénité à plusieurs !!!!</li>
                        <li>Intégrer de nouveaux contenus rapidement</li>
                        <li>Evaluer en temps réel l'impact de vos modifications</li>
                        <li>Automatiser la mise en ligne des modifications testés</li>
                        <li>Surveillez en temps réel l'état de votre application</li>
                    </ul>
                    <nav aria-label="Documentation - Support" class="support">
                        <a  href="https://docs.google.com/document/d/1I2uUwyMepqG33cyqMdzRhY6xzEFkHZ9Zm5kc7Pq4Hzc/edit?usp=sharing"
                            class="see_the_document see_more">
                            Consulter le document
                        </a>
                        <a href="#contactez-nous" class="contact_us see_more">
                            Contactez nous
                        </a>
                    </nav>
                </aside>
            </article>
            <!-- Integration continue (CI) -->
            <article id="integration-continue-ci">
                <h2 class="title">Integration continue (CI)</h2>
                <aside aria-label="Avantages & Outils associés" class="avantages_container">
                    <ul class="avantages_list">
                        <li class="advantage">
                            <figure class="team_work">
                                <figcaption class="description">
                                    <h3>Travaillez à plusieurs</h3>
                                </figcaption>
                            </figure>
                            <p class="content">
                                Partitionnez le travail à faire en des tâches plus simple, facile à
                                réaliser pour doubler en efficacité tout en réduisant le temps, la
                                charge de travail et le risque d'erreur !!!!
                            </p>
                            <a  href="https://docs.google.com/document/d/1I2uUwyMepqG33cyqMdzRhY6xzEFkHZ9Zm5kc7Pq4Hzc/edit?usp=sharing"
                                class="more">
                                Lire plus
                            </a>
                        </li>
                        <li class="advantage">
                            <figure class="code_test">
                                <figcaption class="description">
                                    <h3>Testez automatiquement vos modifications</h3>
                                </figcaption>
                            </figure>
                            <p class="content">
                                N'attendez plus !!! Corrigez les erreurs, éventuels bugs avant même
                                la mise en production. Utilisez les best practices et soyez maître de
                                votre propre code !!!!
                            </p>
                            <a href="https://docs.google.com/document/d/1I2uUwyMepqG33cyqMdzRhY6xzEFkHZ9Zm5kc7Pq4Hzc/edit?usp=sharing"  class="more">Lire plus</a>
                        </li>
                        <li class="advantage">
                            <figure class="deploy_application">
                                <figcaption class="description">
                                   <h3>
                                       Choissisez les modifications à mettre en ligne
                                   </h3>
                                </figcaption>
                            </figure>
                            <p class="content">
                                Plannifiez la mise en production et surprenez vos utilisateurs !!!
                                Des pages spéciales pour des évènements à venir ? Coder les dès maintenant
                                et garder les en sureté pour le jour j'y !!!!
                            </p>
                            <a  href="https://docs.google.com/document/d/1I2uUwyMepqG33cyqMdzRhY6xzEFkHZ9Zm5kc7Pq4Hzc/edit?usp=sharing"
                                class="more">
                                Lire plus
                            </a>
                        </li>
                    </ul>
                </aside>
                <nav aria-label="Documentation - Support" id="support-integration-continue">
                    <p>
                        Faites dès à présent de l'intégration continue dans vos projet !!!
                    </p>
                    <ul class="list_support">
                        <li>
                            <a  href="https://docs.google.com/document/d/1I2uUwyMepqG33cyqMdzRhY6xzEFkHZ9Zm5kc7Pq4Hzc/edit?usp=sharing"
                                class="see_the_document see_more">
                                Consulter le document
                            </a>
                        </li>
                        <li>
                            <a href="#contactez-nous" class="contact_us see_more">
                                Contactez nous
                            </a>
                        </li>
                    </ul>
                </nav>
            </article>
            <!-- Livraison Continue VS Déploiement Continu -->
            <section id="livraison-continue-vs-deploiement-continu">
                <h2 class="title">LIVRAISON CONTINUE VS DEPLOIEMENT CONTINU</h2>
                <!-- CD - Livraison continue -->
                <article id="livraison-continue-cd">
                    <figure title="Déploiement automatique" class="continuous_delivery"></figure>
                    <aside aria-label="Livraison Continue" class="explanation">
                        <h3 class="subtitle">Livraison Continue (Continuous Delivery)</h3>
                        <p>
                            Automatisez vos déploiements !!! <br/>
                            Les modifications sont éffectuées ? <br/> Les codes rassemblés ? Validés ? <br/>
                            Alors n'attendez plus, laissez la mise en ligne se faire d'elle-même !
                        </p>
                        <nav aria-label="Documentation - Support" class="support">
                            <a  href="https://docs.google.com/document/d/1I2uUwyMepqG33cyqMdzRhY6xzEFkHZ9Zm5kc7Pq4Hzc/edit?usp=sharing"
                                class="see_the_document see_more">
                                Processus de livraison continu
                            </a>
                            <a href="#contactez-nous" class="contact_us see_more">
                                Contactez-nous
                            </a>
                        </nav>
                    </aside>
                </article>
                <!-- CD - Déploiement Continu -->
                <article  id="deploiement-continu-cd">
                    <figure class="continuous_deployement" title="Déployer en un clic"></figure>
                    <aside aria-label="Déploiement Continu" class="explanation">
                        <h3 class="subtitle">Déploiement Continu (Continuous deployment)</h3>
                        <p>
                            Reprenez le contrôle !!!
                            <a href="#integration-continue-ci">L'intégration continu</a> a été un franc-succès ? <br/>
                            Vous désirez néanmoins attendre avant de déployer ? <br/>
                            Vous souhaitez quand même le moment venu pouvoir le faire en un seul clic ?
                            <br/>Alors n'attendez plus et optez pour le déploiement continu.
                        </p>
                        <nav aria-label="Documentation - Support" class="support">
                            <a  href="https://docs.google.com/document/d/1I2uUwyMepqG33cyqMdzRhY6xzEFkHZ9Zm5kc7Pq4Hzc/edit?usp=sharing"
                                class="see_the_document see_more">
                                Le déploiement continu (guide)
                            </a>
                            <a href="#contactez-nous" class="contact_us see_more">
                                Contactez-nous
                            </a>
                        </nav>
                    </aside>
                </article>
            </section>
            <!-- Monitoring / Surveillance automatisée -->
            <article id="monitoring-surveillance-automatisee">
                <h2 class="title">MONITORING - SURVEILLANCE AUTOMATISÉE</h2>
                <aside aria-label="Faire du Monitoring Kesako" class="description">
                    <p class="content">
                        Gardez le contrôle en permanence !!!
                        Soyez les premiers à être informé en cas de pannes.
                        Prevenez les éventuels risques.
                        Visualisez en temps réel l'état de votre environnement de développement.
                        Restez connecté sans pour autant avoir les yeux rivés en permanence.
                    </p>
                    <nav aria-label="Documentation - Support" class="support">
                        <a  href="https://docs.google.com/document/d/1I2uUwyMepqG33cyqMdzRhY6xzEFkHZ9Zm5kc7Pq4Hzc/edit?usp=sharing"
                            class="see_the_document see_more">
                            Monitoring (l'essentiel à retenir)
                        </a>
                        <a href="#contactez-nous" class="contact_us see_more">
                            Contactez-nous
                        </a>
                    </nav>
                </aside>
            </article>
            <!-- Rejoignez nous -->
            <aside aria-label="Contactez nous" class="join_us">
                <h2 id="contactez-nous">
                    <span class="title">CI/CD & Monitoring</span>
                    <span class="slogan">
                        Rapide, efficace et sécurisé !!! <br/>
                    </span>
                </h2>
                <nav aria-label="Contact" class="support">
                    <a href="tel:+22996784583" class="call_us see_more">
                        <em class="fa-solid fa-phone"></em>
                        Appelez-nous dès maintenant
                    </a>
                    Ou
                    <a href="mailto:fleurytigri@yahoo.com" class="write_us see_more">
                        <em class="fa-solid fa-envelope"></em>
                        Laissez-nous un message
                    </a>
                </nav>
            </aside>
        </section>
        <!-- Resume Menu/Navigations -->
        <footer class="footer">
            <!-- Logo -->
            <figure class="logo">
                <a href="#">
                    <img th:src="@{/images/logo.png}" alt="CI/CD & Monitoring" title="CI/CD & Monitoring" />
                </a>
            </figure>
            <nav aria-label="Liens" class="navigations_tools">
                <!-- Contact us -->
                <aside aria-label="Contactez nous">
                    <h2>Adresse</h2>
                    <ul>
                        <li>
                            <a href="tel:+22996784583">(+229) 96 78 45 83</a>
                        </li>
                        <li>
                            <a href="mailto:fleurytigri@yahoo.com">fleurytigri@yahoo.com</a>
                        </li>
                        <li>
                            Towéta 2 | Cotonou | Bénin
                        </li>
                    </ul>
                </aside>
                <!-- Menus links -->
                <aside aria-label="Liens de navigation">
                    <h2>Accès Rapide</h2>
                    <ul>
                        <li>
                            <a href="#integration-continue-ci">Intégration continue (CI)</a>
                        </li>
                        <li>
                            <a href="#livraison-continue-cd">Livraison continue (CD)</a>
                        </li>
                        <li>
                            <a href="#deploiement-continu-cd">Déploiement continu (CD)</a>
                        </li>
                        <li>
                            <a href="#monitoring-surveillance-automatisee">Restez connecté</a>
                        </li>
                        <li>
                            <a href="#contactez-nous">Mettre en place dès maintenant</a>
                        </li>
                    </ul>
                </aside>
                <!-- Newsletters -->
                <aside aria-label="Newsletters">
                    <h2>Newsletters</h2>
                    <form action="" class="newsletters_form">
                        <input  type="email" name="email" id="email" placeholder="Votre email"
                                class="input_email" required/>
                        <input type="submit" value="S'abonner" class="subscribe" />
                    </form>
                </aside>
            </nav>
        </footer>
    </section>
</body>
</html>
